@media screen and (min-width: 1500px){
    .evite__prejuizo {
        min-height: 75em;
    }
    .evite__prejuizo__titulos__topos, .evite__prejuizo__card {
        max-width: 65em;
    }
    .depoimentos__quem__usa__recomenda {
        height: 700px;
    }
}
@media screen and (min-width: 1650px){
    .fundo__topo {
        min-height: 36em;
    }
    .conteudo__topo {
        min-height: 500px;
    }
    .coluna__promovendo__uma__gestao {
        padding-left: 5em;
    }
    .bloco__para__quem__somos__texto {
        margin-top: -18em;
    }
}
@media screen and (min-width: 1750px){
    .conteudo__topo__escrita {
        /* font-size: 48px; */
        line-height: 1.1em;
    }
    .texto__organize > p,
    p.promovendo__uma__gestao__escrita,
    .evite__prejuizo__um, 
    .evite__prejuizo__dois, 
    .evite__prejuizo__card > p,
    .topico__principais__titulo__contorno__direita > p, 
    .topico__principais__titulo__contorno__esquerda > p,
    .para__quem__somos__texto > p,
    .topico__lista__como__funciona > p,
    .topico__funcao > p,
    .fundo__card__com__nossa__plataforma {
        font-size: 25px;
    }
    .promovendo__uma__gestao__degrade {
        font-size: 31px;
    }
    .evite__prejuizo {
        min-height: 93em;
    }
    .depoimentos__titulo > h2 {
        width: 25%;
    }
    .evite__prejuizo__titulos__topos > h2 {
        font-size: 65px;
    }
    .evite__prejuizo__titulos__topos > h3 {
        font-size: 38px;
    }
}
@media screen and (min-width: 1800px){
    .fundo__topo {
        min-height: 41em;
    }
    .conteudo__topo {
        min-height: 590px;
    }
}
@media screen and (min-width: 1920px){
    .evite__prejuizo {
        min-height: 90em;
    }
}
