.barra__topo__md{
    background-image: url(../../images/barra-v-mobile.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.8em;
    position: fixed;
    width: 100%;
    z-index: 99999;
}
.barra__topo__md > h3 {
    text-shadow: 0px 0px 10px #DEE6FF;
    color: var(--cor-branco-azulado);
    font-family: var(--font-gilroy-extrabold);
    font-size: 20px;
}
.fundo__topo {
    background-image: url(../../images/bg-topo-mobile.webp);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 650px;
}
.conteudo__topo {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3em 0 1.5em;
}
.conteudo__topo__escrita {
    font-family: var(--font-gilroy-extrabold);
    color: var(--cor-branca);
    font-size: 30px;
    text-align: center;
    padding: 0.3em 0;
    line-height: 35px;
    border-bottom: 1px solid var(--cor-azul-claro);
}
.texto__grifado__azul {
    color: var(--cor-azul-claro);
}
.conteudo__topo__botao {
    width: 100%;
}
.conteudo__topo__escrita__linha > hr{
    display: none;
}
.btn__quero__fazer__teste__gratis,
.btn__funcoes__exclusivas {
    background-image: url(../../images/fundo-botao.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 95% 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-gilroy-extrabold);
    color: var(--cor-azul-escuro);
    text-transform: uppercase;
    font-size: 19px;
    text-decoration: none;
    padding-bottom: 4px;
}
.conteudo__topo__botao > p,
.conteudo__funcoes__botao > p {
    color: var(--cor-branca);
    text-align: center;
    font-family: var(--font-gilroy-regular);
    font-size: 13px;
}
img.logo__doutor__estoque__topo {
    width: 290px;
    margin: 4em auto 1.5em;
    position: relative;
    display: flex;
}
.titulo__organize > h2{
    font-size: 45px;
    width: 75%;
    font-family: var(--font-gilroy-extrabold);
    color: var(--cor-azul);
    margin-bottom: 0.5em;
}
.texto__grifado__escuro{
    color: var(--cor-azul-marinho);
}
.texto__organize > p{
    font-family: var(--font-poppins);
    color: var(--cor-cinza);
    font-size: 18px;
    line-height: 1.3em;
}
.bold__poppins {
    font-weight: bold;
}
.texto__simplifique {
    font-family: var(--font-poppins);
    font-size: 21px;
    text-align: center;
    font-weight: 800;
    color: var(--cor-azul-2);
    margin-top: 1.5em;
}
.conteudo__simplifique__botao {
    margin-bottom: 1em;
}
section.funcoes__exclusivas {
    margin-top: 2em;
}
.btn__quero__ter__o__controle{
    background-image: url(../../images/fundo-botao-controle.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-gilroy-extrabold);
    color: var(--cor-branca);
    text-transform: uppercase;
    font-size: 19px;
    text-decoration: none;
    padding: 0px 35px 4px;
    text-align: center;
    margin: 25px 0 5px;
}
.conteudo__simplifique__botao > p {
    color: var(--cor-cinza);
    text-align: center;
    font-family: var(--font-gilroy-regular);
    font-size: 13px;
}
.evite__prejuizo{
    background-image: url(../../images/bg-evite-prejuizo.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    height: 1500px;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}
.evite__prejuizo__titulos__topos > h2 {
    color: #53e2ff;
    font-family: var(--font-gilroy-black);
    font-size: 45px;
    text-shadow: 0px 0px 10px #53e2ff;
    text-align: center;
    padding: 25px 25px 0;
}
.evite__prejuizo__titulos__topos > h3 {
    color: var(--cor-branca);
    font-family: var(--font-poppins);
    font-weight: 800;
    text-align: center;
    font-size: 28px;
}
.evite__prejuizo__um {
    color: var(--cor-branca);
    font-size: 18px;
    font-family: var(--font-poppins);
    text-align: center;
    line-height: 1.3em;
    margin-top: 2em;
}
.evite__prejuizo__dois {
    font-size: 18px;
    color: var(--cor-azul-claro);
    font-family: var(--font-poppins);
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-top: 1.5em;
    line-height: 1.3em;
}   
.card__com__nossa__plataforma{
    text-align: center;
}
.fundo__card__com__nossa__plataforma {
    background: linear-gradient(79deg, rgba(189,233,247,1) 11%, rgba(119,205,238,1) 50%, rgba(189,233,247,1) 88%);
    font-family: var(--font-poppins);
    font-weight: 500;
    color: var(--cor-azul-escuro);
    font-size: 18px;
    text-align: center;
    padding: 45px 25px 25px;
    border-radius: 15px;
    box-shadow: 0px 0px 19px -8px rgba(0,0,0,0.75);
}
.card__com__nossa__plataforma > img {
    width: 35%;
    margin-bottom: -3.5em;
}
.evite__prejuizo__card > p {
    color: var(--cor-branca);
    font-size: 18px;
    font-family: var(--font-poppins);
    text-align: center;
    margin-top: 35px;
    line-height: 1.3em;
}
section.evite__prejuizo > div {
    height: 1400px;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}
.topico__principais > img {
    width: 25%;
    z-index: 99;
}
.topico__principais {
    display: flex;
    justify-content: center;
    align-items: center;
}
.topicos__principais__vantagens {
    padding-left: 2em;
}
.topico__principais__titulo__contorno__direita {
    border-top: 2px solid var(--cor-azul-claro);
    border-left: 2px solid var(--cor-azul-claro);
    border-bottom: 2px solid var(--cor-azul-claro);
    padding: 2em 0 2em 3em;
    margin-left: -2.5em;
    border-radius: 35px 0 0 35px;
}
.topico__principais__titulo__contorno__direita > h3,
.topico__principais__titulo__contorno__esquerda > h3 {
    font-size: 20px;
    color: var(--cor-azul-escuro);
    font-family: var(--font-poppins);
    font-weight: bold;
    width: 59%;
}
.topico__principais__titulo__contorno__direita > p,
.topico__principais__titulo__contorno__esquerda > p {
    color: #464d5f;
    font-size: 15px;
    font-family: var(--font-poppins);
    line-height: 1.3em;
    width: 83%;
    margin-top: 10px;
}
.topico__principais__titulo__contorno__esquerda {
    border-top: 2px solid var(--cor-azul-claro);
    border-right: 2px solid var(--cor-azul-claro);
    border-bottom: 2px solid var(--cor-azul-claro);
    padding: 2em 0 2em 3em;
    margin-right: -2.5em;
    border-radius: 0 35px 35px 0;
}
.topicos__principais__vantagens__direita,
.topicos__principais__vantagens__esquerda {
    margin-bottom: 2em;
}
.titulo__principais__vantagens {
    font-family: var(--font-gilroy-extrabold);
    font-size: 45px;
    text-align: center;
    padding: 40px 25px 15px;
    color: var(--cor-azul);
}
.escrita__vanatgens{
    color: var(--cor-azul-escuro);
}
.topicos__principais__vantagens__direita {
    padding-left: 2em;
}
.topicos__principais__vantagens__esquerda {
    padding-right: 2em;
}
.card__controle__de__estoque{
    background-image: url(../../images/fundo-do-controle-de-estoque.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80% 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--cor-branca);
    font-family: var(--font-gilroy-extrabold);
    font-size: 28px;
    text-align: center;
    padding: 0 3em 0.5em;
    margin-top: -15px;
    margin-bottom: 20px;
}
.card__preco__doutor__estoque{
    background: linear-gradient(219deg, rgba(179,229,244,1) 0%, rgba(0,212,255,1) 100%);
    border-radius: 40px;
    padding: 0.5em;
}
.comece__agora__selo {
    text-align: center;
    margin: 2em;
}
.comece__agora__selo > p {
    background: linear-gradient(180deg, rgba(254,255,255,1) 0%, rgba(182,231,248,1) 100%);
    display: inline;
    padding: 4px 14px;
    border-radius: 15px;
    color: var(--cor-azul-escuro);
    font-family: var(--font-poppins);
    font-weight: bold;
}
.card__preco__doutor__estoque > h3 {
    color: var(--cor-azul-marinho);
    font-family: var(--font-poppins);
    font-weight: bold;
    font-size: 30px;
    padding: 0 1.5em 1em;
    text-align: center;
}
.escrita__por__sete__dias {
    color: var(--cor-branca);
}
.bloco__interno__com__preco {
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(199,237,249,1) 100%);
    margin: 1em;
    padding: 2em 1em;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0px 2px 43px -21px rgba(0,0,0,0.75);
}
.escrita__plano__basico {
    color: var(--cor-azul-marinho);
    font-family: var(--font-poppins);
    font-weight: bold;
    font-size: 24px;
}
.valor__plano {
    color: var(--cor-azul-2);
    font-family: var(--font-poppins);
    font-weight: bold;
    font-size: 55px;
}
.centavos__mes {
    color: var(--cor-azul-2);
    font-family: var(--font-poppins);
    font-weight: bold;
    font-size: 23px;
    text-align: left;
}
.valor__total__do__plano {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
.escrita__mes {
    color: var(--cor-azul-marinho);
    font-size: 18px;
}
.escrita__menos__de__dois__reais__mes {
    font-family: var(--font-poppins);
    color: var(--cor-azul-2);
    margin-top: 10px;
    font-size: 16px;
}
.btn__compra__plano {
    background-image: url(../../images/fundo-btn-compra.png);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 80px;
    position: absolute;
    width: 100%;
    color: var(--cor-branca);
    font-family: var(--font-gilroy-extrabold);
    font-size: 26px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}
.section__btn__comprar {
    display: flex;
    justify-content: center;
    height: 90px;
    margin-top: 17px;
}
.escrita__clique__no__btn,
.bloco__btn__whatsapp > p {
    color: #081a20;
    font-size: 13px;
    font-family: var(--font-gilroy-regular);
    padding: 0 9vw;
    margin-top: -11px;
    text-align: center;
}
img.logo__doutor__estoque {
    width: 290px;
    margin: 2em auto 3em;
    position: relative;
    display: flex;
}
.titulo__como__funciona {
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(45deg, rgba(105,181,246,1) 9%, rgba(118,204,238,1) 30%, rgba(60,103,203,1) 51%, rgba(60,103,203,1)60%, rgba(103,178,244,1) 135%);
    font-family: var(--font-gilroy-black);
    font-size: 45px;
    text-align: center;
}
.linha__como__funciona {
    display: flex;
    justify-content: center;
}
.linha__como__funciona > hr{
    color: var(--cor-azul-claro);
    opacity: 1;
    width: 64%;
}
.como__funciona__titulo__introducao > p {
    color: var(--cor-cinza-2);
    font-family: var(--font-poppins);
    font-weight: bold;
    line-height: 1.3em;
    text-align: center;
    z-index: 999;
    position: relative;
    margin-bottom: -43px;
}
.topico__lista__como__funciona {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 22px;
    padding: 0 1.5em;
}
.topico__lista__como__funciona > img {
    width: 20px;
}
.topico__lista__como__funciona > p {
    font-family: var(--font-poppins);
    color: var(--cor-azul-escuro);
    font-weight: 600;
    line-height: 1.3em;
    font-size: 18px;
}
.como__funciona__section {
    margin-top: 4em;
}
.image__como__funciona > img {
    max-width: 100%;
    margin-top: 3em;
}
.text__dashboard{
    color: var(--cor-cinza-2);
    font-family: var(--font-poppins);
    font-weight: bold;
    line-height: 1.3em;
    text-align: center;
    z-index: 999;
    position: relative;
    margin-bottom: -43px;
    text-transform: uppercase;
}
.funcoes__exclusivas_titulo{
    background-image: url(../../images/imagens-fundo-funcoes-m-02.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.funcoes__exclusivas__bloco-a{
    background-image: url(../../images/imagens-fundo-funcoes-m-07.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 180px;
}
.funcoes__exclusivas__bloco-b{
    background-image: url(../../images/imagens-fundo-funcoes-m-06.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 165px;
}
.funcoes__exclusivas__bloco-c{
    background-image: url(../../images/imagens-fundo-funcoes-m-05.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 150px;
}
.funcoes__exclusivas__bloco-d{
    background-image: url(../../images/imagens-fundo-funcoes-m-06.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 165px;
}
.funcoes__exclusivas__bloco-e{
    background-image: url(../../images/imagens-fundo-funcoes-m-07.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 170px;
}
.funcoes__exclusivas__bloco-f{
    background-image: url(../../images/imagens-fundo-funcoes-m-08.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 200px;
}
.funcoes__exclusivas__bloco-g{
    background-image: url(../../images/imagens-fundo-funcoes-m-09.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 200px;
}
.funcoes__exclusivas__bloco-h{
    background-image: url(../../images/imagens-fundo-funcoes-m-10.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 320px;
    justify-content: center;
    gap: 65px;
    padding-bottom: 25px;
    flex-direction: column;
}
.topico__funcao {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    padding: 0 2em;
}
.topico__funcao > img {
    width: 55px;
}
.topico__funcao > p {
    font-family: var(--font-poppins);
    color: var(--cor-branca);
    font-weight: 500;
    line-height: 1.3em;
    font-size: 16px;
}
.funcoes__exclusivas__bloco-a,
.funcoes__exclusivas__bloco-b,
.funcoes__exclusivas__bloco-c,
.funcoes__exclusivas__bloco-d,
.funcoes__exclusivas__bloco-e,
.funcoes__exclusivas__bloco-f,
.funcoes__exclusivas__bloco-g,
.funcoes__exclusivas__bloco-h{
    display: flex;
    align-items: center;
}
h2.titulo__funcoes__exclusivas {
    color: var(--cor-azul-claro);
    font-family: var(--font-poppins);
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    padding: 0.6em 0.5em 0;
}
.conteudo__funcoes__botao {
    width: 100%;
}
.faq {
    padding: 3em 2em 2em;
}
h2.titulo__faq {
    background-image: linear-gradient(138deg, rgba(60,103,206,1) 47%, rgba(101,175,242,1) 80%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: var(--font-gilroy-black);
    font-size: 45px;
    text-align: center;
    margin-bottom: 15px;
}
button.accordion-button.collapsed,
button.accordion-button {
    font-family: var(--font-poppins);
    font-weight: 600;
    color: var(--cor-cinza-faq);
    padding: 20px 0 20px;
    border-bottom: 1px solid;
}
.accordion-button:focus {
    box-shadow: none;
}
.accordion-button:not(.collapsed) {
    color: currentColor;
    background-color: var(--cor-branca);
    box-shadow: none;
}
.accordion-body {
    font-family: var(--font-poppins);
    color: var(--cor-cinza-faq);
    line-height: 1.3em;
    padding: 20px 0 29px;
}
.ainda__com__duvidas {
    padding-top: 3em;
    padding-bottom: 1.5em;
}
.titulo__ainda__com__duvidas{
    color: var(--cor-azul-2);
    font-size: 27px;
    font-family: var(--font-gilroy-extrabold);
    padding: 0px 1.5em;
    text-align: center;
    margin-bottom: 15px;
}
.ainda__com__duvidas__descricao {
    color: var(--cor-azul-marinho);
    font-family: var(--font-gilroy-extrabold);
    text-align: center;
    font-size: 18px;
    padding: 0 1.5em;
    margin-bottom: 20px;
}
.btn__whatsapp{
    background-image: url(../../images/btn-whatsapp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    color: var(--cor-branca);
    font-size: 19px;
    gap: 10px;
    font-family: var(--font-gilroy-extrabold);
    padding-bottom: 10px;
    text-decoration: none;
}
.bloco__btn__whatsapp > p{
    padding: 0 4em;
    margin-top: 6px;
}
.informacoes__de__contato{
    background-image: url(../../images/fundo-contatos.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 1em 0 0;
    height: 340px;
    margin-top: 3em;
}
.dados__de__contato {
    margin-top: 30px;
    text-align: center;
}
.dados__de__contato__telefones > a {
    text-decoration: none;
    font-family: var(--font-gilroy-medium);
    color: var(--cor-branca);
    font-size: 18px;
    text-align: center;
    display: block;
    margin-bottom: 20px;
}
.bold__gilroy {
    font-family: var(--font-gilroy-extrabold);
}
.email__contato {
    color: var(--cor-branca);
    font-family: var(--font-gilroy-medium);
    text-decoration: none;
    text-align: center;
    font-size: 18px;
}
img.image__logo__branca {
    width: 240px;
    display: flex;
    margin: 40px auto 20px;
}
footer{
    font-family: var(--font-gilroy-medium);
    background-color: var(--cor-branca);
    font-size: 14px;
    color: var(--cor-azul-escuro);
    text-align: center;
    padding: 1em;
}
.depoimentos__quem__usa__recomenda{
    background-image: url(../../images/bg-depoimentos-mobile.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 650px;
    padding: 5em 0;
    margin: 5em 0 3em; 
}
.card__depoimentos{
    background-color: #ecf1f3;
    padding: 1.3em 1.7em 1.5em;
    border-radius: 30px;
}
.foto__nome{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 16px;
    margin-bottom: 22px;
}
.foto__nome > img {
    width: 27%;
}
.nome__empresa > h2 {
    font-family: var(--font-poppins);
    font-weight: bold;
    color: var(--cor-azul-2);
    font-size: 21px;
}
.nome__empresa > p {
    font-size: 15px;
    font-family: var(--font-poppins);
    text-transform: uppercase;
    margin-top: 7px;
    color: #4e5567;
}
.conteudo__depoimento > p{
    font-size: 17px;
    font-family: var(--font-poppins);
    color: #4e5567;
    line-height: 1.3em;
}
.depoimentos__titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.depoimentos__titulo > h2 {
    font-family: var(--font-poppins);
    font-weight: bold;
    color: var(--cor-azul-escuro);
    font-size: 40px;
    text-align: center;
}
.depoimentos__titulo > hr{
    width: 65%;
    opacity: 1;
    color: var(--cor-azul-escuro);
}
.coluna__promovendo__uma__gestao{
    background-image: url(../../images/bg-dinheiro-m.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 300px;
    padding: 1.5em 2.5em;
}
p.promovendo__uma__gestao__escrita {
    font-family: var(--font-poppins);
    color: var(--cor-branca);
    font-size: 18px;
    line-height: 1.3em;
}
.promovendo__uma__gestao__degrade {
    background-image: linear-gradient(216deg, rgba(172,233,246,1) 11%, rgba(117,202,232,1) 50%, rgba(172,233,246,1) 88%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: var(--font-poppins);
    font-weight: 800;
    font-size: 20px;
    line-height: 1.3em;
}
.promovendo__uma__gestao_hr {
    opacity: 1;
    color: var(--cor-branca);
    width: 70%;
    margin: 0.5em 0;
}
section.para__quem__somos {
    margin-top: 4em;
}
.para__quem__somos__foto{
    background-image: url(../../images/fundo-quem-somos.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 800px;
}
.bloco__quem__somos {
    display: flex;
    justify-content: end;
}
.conteudo__bloco__quem__somos {
    width: 60%;
    padding-top: 4.5em;
}
.para__quem__titulo {
    font-size: 55px;
    font-family: var(--font-gilroy-extrabold);
    color: var(--cor-branca);
    margin-left: 10px;
}
.escrita__e__a__nossa__plataforma {
    background-image: url(../../images/box-nossa-plataforma.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1.5em 1em;
    color: var(--cor-branca);
    font-family: var(--font-gilroy-extrabold);
    font-size: 19px;
}
.para__quem__somos__texto {
    background: linear-gradient(219deg, rgba(187,232,247,1) 15%, rgba(118,204,238,1) 59%);
    padding: 3em 3em 5em;
    border-radius: 20px;
}
.para__quem__somos__texto > p {
    font-family: var(--font-poppins);
    font-size: 18px;
    text-align: center;
    color: var(--cor-azul-escuro);
    line-height: 1.3em;
}
.btn__quem__somos__comecar__agora {
    background-image: url(../../images/btn-quem-somos.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 95% 100%;
    display: flex;
    height: 75px;
    justify-content: center;
    align-items: center;
    font-family: var(--font-gilroy-extrabold);
    color: var(--cor-branca);
    font-size: 19px;
    padding-bottom: 8px;
    z-index: 99;
    position: relative;
    text-decoration: none;
}
.bloco__para__quem__somos__texto {
    margin-top: -15em;
}
.btn__quem__somos {
    margin-top: -2em;
}
.escrita__clique__no__btn__comecar__agora {
    padding: 0.7em 4em;
    text-align: center;
}
section.container.section__para__quem {
    display: none;
}
@media screen and (min-width: 800px){
    .barra__topo__md{
        background-image: url(../../images/barra-v-desktop-teste.png);
        background-size: contain;
        height: 75px;
        padding-bottom: 1.5em;
    }
    .fundo__topo {
        background-image: url(../../images/bg-topo-desktop.webp);
        height: 26em;
    }
    .conteudo__topo {
        height: 400px;
        justify-content: space-around;
        padding: 4em 0 1.5em;
    }
    h2.conteudo__topo__escrita {
        font-size: 40px;
        text-align: left;
        padding-right: 10%;
    }
    .titulo__organize > h2 {
        font-size: 43px;
        margin-bottom: 0em;
    }
    .texto__organize > p {
        font-family: var(--font-poppins);
        color: var(--cor-cinza);
        font-size: 21px;
    }
    img.logo__doutor__estoque__topo {
        width: 450px;
        margin: 4em auto 2em;
    }
    .texto__simplifique {
        font-size: 27px;
    }
    .conteudo__simplifique__botao > p {
        font-size: 15px;
        margin-top: -6px;
    }
    .btn__quero__ter__o__controle {
        background-image: url(../../images/btn-desktop-2.png);
        background-size: 90% 100%;
        height: 108px;
        font-size: 25px;
        padding-bottom: 17px;
    }
    section.evite__prejuizo > div {
        flex-direction: column;
    }
    .evite__prejuizo{
        background-image: url(../../images/bg-evite-prejuizo-d.webp);
        height: 1150px;
        /* padding-top: 3em; */
    }
    .evite__prejuizo__um,
    .evite__prejuizo__dois,
    .evite__prejuizo__titulos__topos > h2,
    .evite__prejuizo__titulos__topos > h3 {
        text-align: left;
        padding: 0;
    }
    .evite__prejuizo__titulos__topos > h2 {
        font-size: 50px;
    }
    .evite__prejuizo__titulos__topos > h3 {
        font-size: 30px;
    }
    .evite__prejuizo__um,
    .evite__prejuizo__dois,
    .evite__prejuizo__card > p {
        font-size: 18px;
    }
    .card__com__nossa__plataforma > img {
        width: 15%;
    }
    .fundo__card__com__nossa__plataforma {
        font-size: 21px;
        padding: 45px 15px 40px;
    }
    section.evite__prejuizo > div {
        height: 1100px;
        justify-content: center;
    }
    .topicos__principais__vantagens__direita {
        padding-left: 0em;
    }
    .topico__principais__direita {
        justify-content: end;
    }
    .topico__principais__esquerda {
        justify-content: start;
    }
    .topico__principais__titulo__contorno__direita {
        padding: 3em 8em 3em 5em;
        margin-left: -4em;
        width: 66%;
    }
    .topico__principais__titulo__contorno__esquerda{
        padding: 3em 4em 3em 8em;
        margin-right: -4em;
        width: 66%;
    }
    .topico__principais > img {
        width: 22%;
    }
    .topico__principais__titulo__contorno__direita > h3, .topico__principais__titulo__contorno__esquerda > h3 {
        font-size: 32px;
        width: 66%;
    }    
    .topico__principais__titulo__contorno__direita > p, .topico__principais__titulo__contorno__esquerda > p {
        color: #464d5f;
        font-size: 21px;
    }
    .card__controle__de__estoque {
        background-image: url(../../images/fundo-do-controle-de-estoque-d.png);
        background-size: 55% 100%;
        text-align: center;
        margin-top: 6px;
        padding-bottom: 25px;
    }
    .card__preco__doutor__estoque {
        padding: 1.5em 2.5em;
    }
    a.btn__compra__plano {
        width: 46%;
    }
    .escrita__clique__no__btn, .bloco__btn__whatsapp > p {
        padding: 0 0vw;
    }
    .text__dashboard {
        font-size: 23px;
        padding-right: 3em;
        text-align: left;
        margin-bottom: 0px;
    }
    .image__como__funciona {
        text-align: center;
    }
    .topico__lista__como__funciona > img {
        width: 30px;
    }
    .topico__lista__como__funciona > p {
        font-size: 21px;
    }
    .titulo__como__funciona {
        font-size: 58px;
    }
    .linha__como__funciona > hr {
        width: 41%;
    }
    h2.titulo__funcoes__exclusivas {
        font-size: 65px;
    }
    .topico__funcao > img {
        width: 75px;
    }
    .topico__funcao > p {
        font-size: 21px;
    }
    .topico__funcao {
        gap: 23px;
    }
    .conteudo__funcoes__botao {
        width: 54%;
    }
    .btn__funcoes__exclusivas{
        background-image: url(../../images/btn-desktop.png);
        height: 105px;
        padding-bottom: 18px;
        font-size: 24px;
        background-size: 100% 100%;
    }
    .conteudo__topo__botao > p{
        font-size: 15px;
    }
    .conteudo__funcoes__botao > p {
        
        margin-top: -5px;
    }
    section.funcoes__exclusivas {
        margin-top: 4em;
    }
    .faq {
        padding: 3em 10em 2em;
    }
    h2.titulo__faq,
    .valor__plano {
        font-size: 75px;
    }
    button.accordion-button.collapsed, button.accordion-button {
        font-size: 21px;
    }
    .accordion-body {
        padding: 30px 0 39px;
        font-size: 19px;
    }
    .informacoes__de__contato {
        height: 190px;
        margin-top: 2em;
    }
    img.image__logo__branca {
        width: 260px;
    }
    .dados__de__contato__telefones {
        display: flex;
        justify-content: flex-start;
        gap: 35px;
        align-items: center;
    }
    .dados__de__contato {
        text-align: left;
    }
    .titulo__ainda__com__duvidas {
        font-size: 45px;
    }
    .btn__whatsapp {
        background-size: 63% 100%;
        height: 92px;
        font-size: 24px;
    }
    .escrita__clique__no__btn, .bloco__btn__whatsapp > p {
        font-size: 15px;
    }
    .bloco__btn__whatsapp > p {
        margin-top: 0px;
    }
    .card__depoimentos {
        padding: 2em 2.8em 2.5em;
    }
    .depoimentos__quem__usa__recomenda{
        background-image: url(../../images/bg-depoimentos-desktop.webp);
        background-size: contain;
        height: 700px;
        padding: 4em 0;
    }
    .depoimentos__titulo > h2 {
        font-size: 48px;
        width: 35%;
    }
    .depoimentos__titulo > hr {
        width: 28%;
    }
    .nome__empresa > h2 {
        font-size: 26px;
    }
    .nome__empresa > p {
        font-size: 18px;
    }
    .conteudo__depoimento > p {
        font-size: 21px;
    }
    section.promovendo__uma__gestao {
        display: flex;
        justify-content: end;
        margin: 4em 0;
    }
    .coluna__promovendo__uma__gestao {
        background-image: url(../../images/bg-dinheiro-d.webp);
        width: 80%;
        height: 350px;
        display: flex;
        justify-content: left;
        align-items: center;
        padding-left: 2em;
    }
    p.promovendo__uma__gestao__escrita {
        font-size: 18px;
    }
    .promovendo__uma__gestao__degrade {
        font-size: 26px;
    }
    .para__quem__somos__mobile{
        display: none;
    }
    .fundo__imagem__para__quem{
        background-image: url(../../images/para-quem-somos-d.webp);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        height: 550px;
        margin-top: 7em;
    }
    .conteudo__bloco__quem__somos {
        width: 80%;
        padding-top: 4em;
    }
    .para__quem__titulo {
        font-size: 47px;
    }
    .escrita__e__a__nossa__plataforma {
        height: 92px;
        padding: 0.3em 1.5em 1em;
        font-size: 20px;
        border-radius: 26px;
    }
    .para__quem__somos__texto > p {
        font-size: 18px;
    }
    .para__quem__somos__texto {
        padding: 3em 3em 5em;
        border-radius: 40px;
    }
    .btn__quem__somos__comecar__agora {
        background-size: 85% 100%;
        font-size: 24px;
        padding-bottom: 10px;
    }
    section.container.section__para__quem {
        display: block;
    }
}
@media screen and (min-width: 1200px){
    .fundo__topo {
        height: 32em;
    }
    .lado__a__lista {
        margin-top: -3.5em;
    }
    .evite__prejuizo{
        padding-top: 6em;
    }
    .titulo__organize > h2 {
        font-size: 66px;
    }
    .fundo__imagem__para__quem{
        height: 750px;
    }
    .para__quem__titulo {
        font-size: 59px;
    }
    .conteudo__bloco__quem__somos {
        padding-top: 8em;
    }
    .escrita__e__a__nossa__plataforma {
        font-size: 25px;
    }
    .para__quem__somos__texto {
        padding: 3em 6em 5em;
    }
    .para__quem__somos__texto > p {
        font-size: 21px;
    }
    .btn__quem__somos__comecar__agora {
        background-size: 55% 100%;
    }
    .topico__principais__titulo__contorno__esquerda{
        padding: 3em 4em 3em 15em;
    }
    .topico__principais__titulo__contorno__direita {
        padding: 3em 15em 3em 5em;
    }
    .topico__principais > img {
        width: 9%;
    }
    .btn__funcoes__exclusivas{
        background-image: url(../../images/btn-desktop.png);
        height: 105px;
        padding-bottom: 18px;
        font-size: 27px;
        background-size: 95% 100%;
    }
    .depoimentos__titulo > h2 {
        font-size: 56px;
    }
    .text__dashboard {
        font-size: 35px;
    }
    .evite__prejuizo__titulos__topos > h2 {
        font-size: 68px;
    }
    .evite__prejuizo__titulos__topos > h3 {
        font-size: 39px;
    }
    .evite__prejuizo__um,
    .evite__prejuizo__dois,
    .evite__prejuizo__card > p {
        font-size: 18px;
    }
    .evite__prejuizo{
        height: 1200px;
    }
    .titulo__organize > h2 {
        font-size: 56px;
    }
    .coluna__promovendo__uma__gestao {
        padding-left: 5em;
    }
    p.promovendo__uma__gestao__escrita {
        font-size: 21px;
    }
    .promovendo__uma__gestao__degrade {
        font-size: 33px;
    }
    .btn__quero__ter__o__controle {
        background-size: 75% 100%;
        height: 95px;
    }
}
@media screen and (min-width: 1400px) {
    .btn__whatsapp {
        height: 105px;
    }
    .btn__compra__plano {
        height: 100px;
    }
    .section__btn__comprar {
        height: 120px;
    }
    .btn__funcoes__exclusivas {
        height: 135px;
    }
}
@media screen and (min-width: 1700px){
    .fundo__topo {
        height: 42em;
    }
    .conteudo__topo {
        height: 600px;
        justify-content: center;
        padding: 1.5em 0;
        gap: 5em;
    }
    .fundo__imagem__para__quem {
        height: 900px;
    }
    .bloco__para__quem__somos__texto {
        margin-top: -20em;
    }    
    .evite__prejuizo {
        height: 1600px;
        padding: 16em 13em 22em 13em;
    }
    .fundo__card__com__nossa__plataforma {
        padding: 45px 75px 40px;
    }
    a.btn__compra__plano {
        width: 40%;
    }
    .evite__prejuizo__titulos__topos > h2 {
        font-size: 79px;
    }
    .evite__prejuizo__titulos__topos {
        padding-right: 5em;
    }
    .evite__prejuizo__titulos__topos > h3 {
        font-size: 45px;
    }
    .coluna__promovendo__uma__gestao {
        height: 410px;
    }
    .btn__funcoes__exclusivas {
        height: 155px;
        font-size: 36px;
        padding-bottom: 24px;
        margin-top: -23px;
    }
    .btn__quero__fazer__teste__gratis, .btn__funcoes__exclusivas {
        height: 100px;
    }
}
@media screen and (min-width: 1300px) and (max-width: 1700px){
    .evite__prejuizo {
        padding-bottom: 12em;
    }
}