@media screen and (min-width: 2100px){
    body {
        display: flex;
        justify-content: center;
    }
    main {
        max-width: 2100px;
    }
}
@media screen and (max-width: 300px) {
    body {
        display: flex;
    }
    main {
        max-width: 300px;
    }
}
